/*
REM 
REM  aondashboard.css
REM  @author ndecker
REM 
REM 
*/

/* 
 * @import (less) "basisOld.css";
 * @import url("/files/Demos/demoDashboard/demoDashboard.css");
 * 
 */
@font-face {
  font-family: Montserrat;
  src: url('/files/Demos/demoDashboard/Montserrat-Regular.ttf') format("truetype"), url('/files/Demos/demoDashboard/Montserrat-Regular.woff') format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url('/files/Demos/demoDashboard/Montserrat-Bold.ttf') format("truetype"), url('/files/Demos/demoDashboard/Montserrat-Bold.woff') format("woff");
  font-weight: 600;
  font-style: bold;
}
body {
  /* iPhone specific settings */
  -webkit-tap-highlight-color: transparent !important;
  /* Don't show the light gray selection box over an image when you tap it */
  -webkit-touch-callout: none;
  /* Don't show the action sheet with copy/gotoURL */
  -webkit-user-select: none;
  /* Don't show the select/copy/paste */
}
* {
  /* Optimize font legibility by turning on kerning for browsers that support it. */
  /* See: http://blog.typekit.com/2014/02/05/kerning-on-the-web/ */
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}
/* ============================================ */
/* BBj Controls */
/* ============================================ */
.BBjControl {
  font: normal 11px Montserrat, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
}
.BBjControl:not(.bbj-disabled):not(.gwt-MenuItem-disabled) {
  color: #444 !important;
}
.BBjButton,
.BBjToolButton,
.BBjDialog-title {
  font: normal 12px Montserrat, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
}
.BBjDialog-title {
  font: normal 14px Montserrat, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
}
.BBjChildWindow-border {
  background: transparent;
}
.dashboardWidgetWindow {
  -webkit-transition: left 0.5s, top 0.5s, width 0.1s, height 0.1s ease-out;
  -moz-transition: left 0.5s, top 0.5s, width 0.1s, height 0.1s ease-out;
  -o-transition: left 0.5s, top 0.5s, width 0.1s, height 0.1s ease-out;
  transition: left 0.5s, top 0.5s, width 0.1s, height 0.1s ease-out;
}
.dashboardWidgetWindow.dragging {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  opacity: 0.85;
  z-index: 10;
  box-shadow: 0 2px 40px 1px rgba(0, 0, 0, 0.6) !important;
}
.BBjTopLevelWindow.bbj-modal-active {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  border-width: 0px !important;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.6) !important;
}
/* ============================================ */
/* Dashboard */
/* ============================================ */
/* Turn off the outer window border so we take up the whole web page */
.BBjWindowManager-contentContainer {
  border-width: 0 !important;
}
.BBjChildWindow .dashboardWidgetWindow {
  background: #f9fafb;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  border: 1px solid #8c8c8c;
}
.dashboardWidgetTitleBar {
  background: #cfd9e2;
  border-bottom: 1px solid #8c8c8c !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}
/* ============================================ */
/* Dashboard Widget Icons */
/* ============================================ */
.dashboardWidgetPopOutButton,
.dashboardWidgetOptionsButton,
.dashboardWidgetCloseButton {
  -webkit-transition: opacity 0.15s ease-in-out;
  -moz-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}
/* Sprite graphic for retina resolution */
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .dashboardWidgetPopOutButton,
  .dashboardWidgetOptionsButton,
  .dashboardWidgetCloseButton {
    background: transparent url('/files/Demos/demoDashboard/iconWidgetImageList@2x.png') no-repeat !important;
    background-size: 54px 18px !important;
    background-position: 0px 0px !important;
  }
  .dashboardWidgetPopOutButton img,
  .dashboardWidgetOptionsButton img,
  .dashboardWidgetCloseButton img {
    display: none;
  }
  .dashboardWidgetOptionsButton {
    background-position: -18px 0px !important;
  }
  .dashboardWidgetCloseButton {
    background-position: -36px 0px !important;
  }
  .dashboardCustomizeToolButton img,
  .dashboardRefreshToolButton img,
  .dashboardExitToolButton img,
  .dashboardCustomizeWindowPreviousButton img,
  .dashboardCustomizeWindowNextButton img,
  .dashboardCustomizePreviewAddButton img,
  .dashboardCustomizeWindowDoneButton img {
    background: transparent url('/files/Demos/demoDashboard/iconButtonImageList@2x.png') no-repeat !important;
    background-size: 160px 16px !important;
    background-position: 0px 0px !important;
    width: 16px !important;
  }
  .dashboardRefreshToolButton img {
    background-position: -16px 0px !important;
  }
  .dashboardCustomizeWindowPreviousButton img {
    background-position: -32px 0px !important;
  }
  .dashboardCustomizeWindowNextButton img {
    background-position: -48px 0px !important;
  }
  .dashboardCustomizeWindowDoneButton img {
    background-position: -64px 0px !important;
  }
  .dashboardExitToolButton img {
    background-position: -80px 0px !important;
  }
  .dashboardCustomizePreviewAddButton img {
    background-position: -96px 0px !important;
  }
  .dashboardCustomizePreviewAddButton.bbj-disabled img {
    background-position: -112px 0px !important;
  }
}
/* ================================================= */
/* ================================================= */
.dashboardCategoryPieCharts {
  /*
    .dashboardWidgetContainerWindow {
        border-color: transparent;
    }
    
    .BBjChildWindow .dashboardWidgetWindow {
        box-shadow: 0 1px 6px 2px #000;
        border: 1px solid #8c8c8c;
    }
    
    .dashboardWidgetBBjControl {
        background: rgba(255,255,255,0.2) !important;
    }
    .BBjChildWindow-container, .dashboardWidgetWindow {
        // Override defaults
        background: transparent;
    }
    
    .dashboardWidgetTitle {
        background: rgba(255,255,255,0.4),
    }
    
    &.dashboardCategoryWindow, &.BBjTabCtrl-tab.BBjTabCtrl-tab-selected, &.BBjTabCtrl-tab.BBjTabCtrl-tab-selected:hover {
        background: url("/files/Demos/demoDashboard/backgroundDark.jpg") repeat center top #394046 !important;
    }
*/
}
.dashboardWidgetTitle {
  color: #444 !important;
  font-size: 15px !important;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 0.75);
}
.dashboardWidgetDecorationWindow {
  border-left: 1px solid #bfbfbf !important;
}
.dashboardWidgetCloseButton img,
.dashboardWidgetOptionsButton img,
.dashboardWidgetPopOutButton img {
  margin-top: -3px !important;
}
.dashboardWidgetCloseButton:hover,
.dashboardWidgetOptionsButton:hover,
.dashboardWidgetPopOutButton:hover {
  opacity: 0.7;
}
.dashboardWidgetCloseButton:active,
.dashboardWidgetOptionsButton:active,
.dashboardWidgetPopOutButton:active {
  opacity: 0.5;
}
.dashboardWidgetCloseButton.gwt-ToggleButton-down-hovering,
.dashboardWidgetOptionsButton.gwt-ToggleButton-down-hovering {
  border: none !important;
  box-shadow: none !important;
}
.BBjControl.BBjToolButton:not(.bbj-disabled):not(.bbj-toggle).gwt-ToggleButton-down-hovering .dashboardWidgetOptionsButton,
.BBjControl.BBjToolButton:not(.bbj-disabled):not(.bbj-toggle).gwt-ToggleButton-down-hovering .dashboardWidgetCloseButton {
  /* Turn off default inner shadow */
  border: none !important;
  box-shadow: none !important;
}
/* ============================================ */
/* HtmlView Widget Customization */
/* ============================================ */
.dashboardWidgetHtmlViewWindow {
  border: none !important;
}
/* ============================================ */
/* BBj Tab Control */
/* ============================================ */
.BBjTabCtrl-tab {
  font: normal 12px Montserrat, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
  color: #7b8c9d !important;
  background: #f7f7f8 !important;
}
.BBjTabCtrl-tab * {
  white-space: nowrap !important;
}
.BBjTabCtrl-tab.BBjTabCtrl-tab-selected,
.BBjTabCtrl-tab.BBjTabCtrl-tab-selected:hover {
  font-size: 14px !important;
  color: #2d5986 !important;
  border-bottom-color: rgba(0, 0, 0, 0.1) !important;
}
/* ============================================ */
/* BBj Grid Control */
/* ============================================ */
.BBjGrid .BBjGrid-mainGridCell {
  font: normal 10px Montserrat, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
}
.BBjGrid .BBjGrid-columnHeaderCell {
  font: normal 11px Montserrat, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif !important;
}
.BBjGrid-mainGridCell {
  padding: 0 !important;
}
.BBjGrid-masterPanel {
  border-width: 0;
}
.BBjGrid-mainGridCell:not(.bbj-selected) {
  border-bottom-color: #e6e6e6 !important;
  color: #444 !important;
}
.BBjGrid-mainGridCell.bbj-selected {
  color: #eff2f5;
}
.dashboardWidgetFilterWindow {
  background: transparent;
  background: #f2f2f2;
  border-bottom: 1px solid #bfbfbf !important;
}
.dashboardWidgetLinksWindow {
  background: #f2f2f2;
  border-top: 1px solid #bfbfbf !important;
}
.DashboardWidgetLinkButton {
  background: transparent;
  font-size: 11px !important;
}
/* Set the background for the category window and the currently selected tab */
.dashboardCategoryWindow,
.BBjTabCtrl-tab.BBjTabCtrl-tab-selected,
.BBjTabCtrl-tab.BBjTabCtrl-tab-selected:hover {
  /*background: url(/files/Demos/demoDashboard/backgroundGradientColorful4.jpg) no-repeat center top #f1f2ed !important; background-size: 100% 100% !important;*/
  /*background: url(/files/Demos/demoDashboard/backgroundWoodLight.jpg) repeat center top #f1f2ed !important;*/
  background: url("/files/Demos/demoDashboard/backgroundLight.jpg") repeat center top #ebebeb !important;
}
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .dashboardCategoryWindow,
  .BBjTabCtrl-tab.BBjTabCtrl-tab-selected,
  .BBjTabCtrl-tab.BBjTabCtrl-tab-selected:hover {
    background: url("/files/Demos/demoDashboard/backgroundLight@2x.jpg") repeat center top #ebebeb !important;
    background-size: 150px 150px !important;
  }
}
/* Darker background for the selected tab */
.BBjTabCtrl-tab.BBjTabCtrl-tab-selected,
.BBjTabCtrl-tab.BBjTabCtrl-tab-selected:hover {
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.15);
}
.dashboardWindowToolBar {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
}
.dashboardControlBar {
  background: #e9e9ec;
  border-top: 1px solid #d9d9da;
}
/* ============================================ */
/* Customize Window */
/* ============================================ */
.dashboardCustomizePreviewDescription {
  border: 1px solid #ddd;
  box-shadow: 0 1px 0 #fff;
}
.dashboardCustomizePreviewImage {
  -webkit-filter: drop-shadow(0 0 2px #bbbbbb);
}
.dashboardCustomizeWindow .activeWidget {
  opacity: .5;
}
.dashboardCustomizeWindowPageNumberText {
  font-weight: bold !important;
}
.dashboardCustomizeWindowPageNumberText {
  font-size: 12px !important;
}
.dashboardGlassPane {
  background: #000 !important;
  opacity: .35;
  z-index: 1;
  filter: alpha(opacity=35);
  -webkit-animation: fadeIn 0.25s;
  -moz-animation: fadeIn 0.25s;
  -o-animation: fadeIn 0.25s;
  animation: fadeIn 0.25s;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .35;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .35;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .35;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .35;
  }
}

